.navbar {
    background-color: #FDF6EA !important;
    background-color: black !important;
  }
  
  .nav-link {
    color: white !important;
  }
  
  #logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }
  
  #home-container {
    background-image: asset-url('jumbo-copy.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
  
  html,
  body {
    height: 100%;
    position: relative;
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  #page-content {
    flex: 1 0 auto;
  }
  
  #sticky-footer {
    flex-shrink: none;
  }

  .badge {
    text-decoration: none;
  }

  .username {
    text-decoration: none;
    color: rgb(39, 160, 235);
    font-style: italic;
    font-size: 1.5em;
  }
  
  .username:hover {
    color: salmon;
  }

  .footer-bs {
    position: fixed;
    width: 100%;
    min-height: 1px;
    bottom: .015em;
    left: 0;
}

/* pagination styling */

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
    border-radius: 5px;
   }
  .flickr_pagination .disabled {
    color: #595555; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid rgb(5, 193, 231);
    color: rgb(239, 194, 151);
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: gray;
      background: rgb(239, 194, 151);
      color: gray; }
  .flickr_pagination .page_info {
    color: #181616;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }