<footer class="footer-bs pt-4 bg-dark text-white">
    <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">
            <div class="container text-center">
                <small>© 2022 All rights reserved</small>
            </div>
        </div>
    </div>
</footer>